/* src/Board.css */

.game-board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  margin: 50px auto;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .game-board {
    max-width: 80%;
    padding: 15px;
  }
}

/* Media Query for medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .game-board {
    max-width: 70%;
    padding: 18px;
  }
}

/* Media Query for larger screens */
@media (min-width: 1025px) {
  .game-board {
    max-width: 60%;
    padding: 20px;
  }
}
